[submodule "./modules/jenkins/scripts/ansible/roles/ansible-role-java/"]
	url = https://github.com/SnowBiz/ansible-role-java.git
[submodule "./modules/jenkins/scripts/ansible/roles/ansible-role-jenkins/"]
	url = https://github.com/SnowBiz/ansible-role-jenkins.git
